/* Write your code here: */

/*
GRUOPING SELECTOR
target both the h1 and h2 and AND MAKE VIOLET
*/
h1,h2 {
    color: blueviolet;
}


/*
CHILD SELECTOR
target div class="box" and the paragraph element
below

initially put div.box > p

"div.box > p" selector is much more specific than ".box > p" because of the parent selector definition.
In the first case, you refer as parent the HTML elements being "div" type (tag) and "box" class, whereas
in the second case you refer them just by "box" class, whitout pre-filtering by any specific type (tag).
Both are actually valid solutions for this practice, but they are not same in terms of specificity.
Hope it was helpful. Cheers!"
*/
.box > p {
    color:firebrick;
}


/*
DESCENDANT SELECTOR
target list elements and make them blue

the ancestor to the list elements is the div(the grandparent)

note: using the child selctor will not work because the li is 2
levels deep.
*/
.box li{
    color:blue;
}


/*
CHAINING SELECTOR
target 2nd and 3rd list elements and make green

element: list items class:done
*/
li.done{
    color: seagreen
}


/*
COMBINING COMBINERS
target "other items" and make 0.5rem

ul is the ancestor to it's paragraph element, 
which has a class of  "done".

note: child selector would also work 
*/
ul p.done{
    font-size: 0.5rem;
}

/*MY OWN TEST*/
/*
ul ~ p targets the last paragraph following any <ul>
*/
ul ~ p{
    color: peachpuff;
}




